* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    position: absolute;
    left: 0;

}
.another{
    height: 100%;
    width: 30%;
    top: 50px;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0 100px 0;
    left: 0;
}

.text{
    color: rgb(255, 255, 255);
    
}
.img{
    max-width: 100%;    
    height: 50%;       
    margin: 0;
    cursor: zoom-in;
    transition: transform 0.3s;
    
}
.img2{
    width: 70%;
    height: 30%;
    margin: 0;
    cursor: zoom-in;
    transition: transform 0.3s;
}

